:root {
  --primary-color: #44bd87;
  --dark-bg: #000;
}

html {
  font-size: 16px;
  height: 100vh;
  background-color: #fff;
  font-family: monospace Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  scrollbar-width: none;
}

html.dark {
  background: var(--dark-bg);
  color: #fff;
  --primary-color: #5c73e6;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: var(--primary-color);
}

.router-link-active {
  color: var(--primary-color);
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@font-face {
  font-family: Digital;
  src: url(./assets/font/DS-DIGI.TTF);
}

::-webkit-scrollbar {
  display: none;
}